.flowContainer {
    position: relative; /* 相対配置に変更 */
    top: 0; /* 上からの位置を調整 */
    right: 0; /* 右からの位置をゼロに設定 */
    width: 1440px; /* 幅 */
    height: auto; /* 高さは自動 */
    background: #F8F8F8; /* 背景色 */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* ボックスシャドウ（オプション） */
    padding: 20px; /* 内側の余白 */
    overflow: hidden; /* はみ出しを隠す */
}

.title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center; /* 中央揃え */
    margin-bottom: 10px; /* 下の余白 */
}

.description {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: center; /* 中央揃え */
    margin-bottom: 20px; /* 下の余白 */
}

.rectangle {
    position: relative; /* 相対配置 */
    width: 1052px; /* 幅 */
    height: 324px; /* 高さ */
    background: #E64646; /* 背景色 */
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 中央揃え */
    align-items: center; /* 中央揃え */
}

.image {
    max-width: 100%; /* 幅を100%に設定 */
    height: auto; /* 高さは自動 */
}