.flowTextContainer {
    position: absolute;
    top: 2309px;
    left: 94px;
    width: 540px;
    height: 50px;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flowText {
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 6.4px;
}

.imageContainer {
    width: 1052px;
    height: 324px;
    flex-shrink: 0;
    object-fit: cover;
    position: absolute;
    top: 2435px;
    right: 0;
    z-index: 1000;
}

.overlayContainer {
    width: 400px;
    height: 324px;
    flex-shrink: 0;
    position: absolute;
    top: 2435px;
    left: 388px;
    z-index: 1001;
    opacity: 1;
    backdrop-filter: blur(4px);
}

.hearingText {
    position: absolute;
    top: 2511px;
    left: 429px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4px;
    z-index: 1002;
}

.hearingDescription {
    position: absolute;
    top: 2551px;
    left: 429px;
    width: 248px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    z-index: 1002;
    text-align: left; /* 左寄せ */
}

.backgroundElement {
    width: 138px;
    height: 324px;
    flex-shrink: 0;
    background: #5E2121;
    backdrop-filter: blur(4px);
    position: absolute;
    top: 2435px;
    left: 250px;
    z-index: 999;
}

.numberText {
    position: absolute;
    top: 2568px;
    left: 296px;
    color: #FFF;
    font-family: 'Jura';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1002;
}

.imageContainer2 {
    width: 1052px;
    height: 324px;
    flex-shrink: 0;
    object-fit: cover;
    position: absolute;
    top: 2799px;
    right: 0;
    z-index: 1000;
}

.overlayContainer2 {
    width: 400px;
    height: 324px;
    flex-shrink: 0;
    position: absolute;
    top: 2799px;
    left: 388px;
    z-index: 1001;
    opacity: 1;
    backdrop-filter: blur(4px);
}

.backgroundElement2 {
    width: 138px;
    height: 324px;
    flex-shrink: 0;
    background: #5E2121;
    backdrop-filter: blur(4px);
    position: absolute;
    top: 2799px;
    left: 250px;
    z-index: 999;
}

.designText {
    position: absolute;
    top: 2875px;
    left: 429px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4px;
    z-index: 1002;
}

.designDescription {
    position: absolute;
    top: 2915px;
    left: 429px;
    width: 248px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    z-index: 1002;
    text-align: left; /* 左寄せ */
}

.numberText6 {
    position: absolute;
    top: 2932px;
    left: 296px;
    color: #FFF;
    font-family: 'Jura';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1002;
}

.numberText2 {
    position: absolute;
    bottom: 1401px;
    left: 296px;
    color: #E64646;
    font-family: 'Jura';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imageContainer3 {
    width: 1052px;
    height: 324px;
    flex-shrink: 0;
    object-fit: cover;
    position: absolute;
    top: 3163px;
    right: 0;
    z-index: 1000;
}

.overlayContainer3 {
    width: 400px;
    height: 324px;
    flex-shrink: 0;
    position: absolute;
    top: 3163px;
    left: 388px;
    z-index: 1001;
    opacity: 1;
    backdrop-filter: blur(4px);
}

.backgroundElement3 {
    width: 138px;
    height: 324px;
    flex-shrink: 0;
    background: #5E2121;
    backdrop-filter: blur(4px);
    position: absolute;
    top: 3163px;
    left: 250px;
    z-index: 999;
}

.implementText {
    position: absolute;
    top: 3239px;
    left: 429px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4px;
    z-index: 1002;
}

.implementDescription {
    position: absolute;
    top: 3279px;
    left: 429px;
    width: 248px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    z-index: 1002;
    text-align: left; /* 左寄せ */
}

.numberText3 {
    position: absolute;
    top: 3296px;
    left: 296px;
    color: #FFF;
    font-family: 'Jura';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1002;
}

.imageContainer4 {
    width: 1052px;
    height: 324px;
    flex-shrink: 0;
    object-fit: cover;
    position: absolute;
    top: 3528px;
    right: 0;
    z-index: 1000;
}

.overlayContainer4 {
    width: 400px;
    height: 324px;
    flex-shrink: 0;
    position: absolute;
    top: 3528px;
    left: 388px;
    z-index: 1001;
    opacity: 1;
    backdrop-filter: blur(4px);
}

.backgroundElement4 {
    width: 138px;
    height: 324px;
    flex-shrink: 0;
    background: #5E2121;
    backdrop-filter: blur(4px);
    position: absolute;
    top: 3528px;
    left: 250px;
    z-index: 999;
}

.testText {
    position: absolute;
    top: 3604px;
    left: 429px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4px;
    z-index: 1002;
}

.testDescription {
    position: absolute;
    top: 3644px;
    left: 429px;
    width: 248px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    z-index: 1002;
    text-align: left; /* 左寄せ */
}

.numberText4 {
    position: absolute;
    top: 3661px;
    left: 296px;
    color: #FFF;
    font-family: 'Jura';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1002;
}

.imageContainer5 {
    width: 1052px;
    height: 324px;
    flex-shrink: 0;
    object-fit: cover;
    position: absolute;
    top: 3892px;
    right: 0;
    z-index: 1000;
}

.overlayContainer5 {
    width: 400px;
    height: 324px;
    flex-shrink: 0;
    position: absolute;
    top: 3892px;
    left: 388px;
    z-index: 1001;
    opacity: 1;
    backdrop-filter: blur(4px);
}

.backgroundElement5 {
    width: 138px;
    height: 324px;
    flex-shrink: 0;
    background: #5E2121;
    backdrop-filter: blur(4px);
    position: absolute;
    top: 3892px;
    left: 250px;
    z-index: 999;
}

.operationText {
    position: absolute;
    top: 3968px;
    left: 429px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4px;
    z-index: 1002;
}

.operationDescription {
    position: absolute;
    top: 4008px;
    left: 429px;
    width: 248px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    z-index: 1002;
    text-align: left; /* 左寄せ */
    
}

.numberText5 {
    position: absolute;
    top: 4025px;
    left: 296px;
    color: #FFF;
    font-family: 'Jura';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 1002;
}

.reAliceText {
    position: absolute;
    top: 2650px;
    left: -285px;
    transform: rotate(-90deg);
    color: #1F1F1F;
    font-family: 'Jura';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.1;
}

.newContainer {
    position: absolute;
    bottom: 700px;
    right: -285px;
    width: 2422px;
    height: 1017px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    opacity: 0.2;
    background: linear-gradient(238deg, #E64646 0%, rgba(230, 70, 70, 0.00) 46.48%);
}

.caseTextContainer {
    position: absolute;
    top: 4396px;
    left: 115px;
    width: 224px;
    height: 46px;
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 6.4px;
    background: transparent;
    opacity: 1;
    white-space: nowrap;
}

.examplesTextContainer {
    position: absolute;
    bottom: 1859px;
    left: -345px;
    transform: rotate(-90deg);
    color: #1F1F1F;
    font-family: 'Jura';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.1;
}

.customBox {
    position: absolute;
    bottom: 1904px;
    right: 335px;
    width: 518px;
    height: 230px;
    flex-shrink: 0;
    fill: #E64646;
}

.numberText1 {
    position: absolute;
    bottom: 2150px;
    left: 635px;
    color: #E64646;
    font-family: 'Jura';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.conversationSystemText {
    position: absolute;
    bottom: 2003px;
    right: 578px;
    width: 227px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.companyText {
    position: absolute;
    bottom: 1964px;
    left: 635px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.descriptionText {
    position: absolute;
    bottom: 1768px;
    right: 252px;
    width: 553px;
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.imageContainer6 {
    position: absolute;
    bottom: 806px;
    right: 252px;
    width: 407px;
    height: 671px;
    flex-shrink: 0;
}

.redBox {
    position: absolute;
    bottom: 1155px;
    left: 180px;
    width: 648px;
    height: 230px;
    flex-shrink: 0;
    fill: #E64646;
}

.ocrSystemText {
    position: absolute;
    bottom: 1254px;
    left: 337px;
    width: 296px;
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left; /* 左寄せ */
}

.companyNameText {
    position: absolute;
    bottom: 1215px; /* 下からの位置 */
    left: 337px; /* 左からの位置 */
    color: #FFF; /* テキストカラー */
    font-family: "Noto Sans JP"; /* フォントファミリー */
    font-size: 16px; /* フォントサイズ */
    font-style: normal; /* フォントスタイル */
    font-weight: 700; /* フォントウェイト */
    line-height: normal; /* 行の高さ */
}

.descriptionDetailText {
    position: absolute;
    bottom: 1019px; /* 下からの位置 */
    left: 337px; /* 左からの位置 */
    width: 382px; /* 幅 */
    color: #1F1F1F; /* テキストカラー */
    font-family: "Noto Sans JP"; /* フォントファミリー */
    font-size: 16px; /* フォントサイズ */
    font-style: normal; /* フォントスタイル */
    font-weight: 400; /* フォントウェイト */
    line-height: 32px; /* 行の高さ */
    text-align: left; /* 左寄せ */
}



.redRectangleBox {
    position: absolute; /* 絶対位置指定 */
    bottom: 455px; /* 下からの位置 */
    left: 220px; /* 左からの位置 */
    width: 1024px; /* 幅 */
    height: 264px; /* 高さ */
    z-index: 1100; /* 重なり順 */
}

.contactHeadingNew {
    position: absolute; /* 絶対位置指定 */
    bottom: 561px; /* 下からの位置 */
    left: 646px; /* 左からの位置 */
    color: #FFF; /* テキストカラー */
    font-family: 'Jura'; /* フォントファミリー */
    font-size: 40px; /* フォントサイズ */
    font-style: normal; /* フォントスタイル */
    font-weight: 400; /* フォントウェイト */
    line-height: normal; /* 行の高さ */
    width: 148px; /* 幅 */
    height: 47px; /* 高さ */
}

.contactSubtextNew {
    position: absolute; /* 絶対位置指定 */
    bottom: 541px; /* 下からの位置 */
    left: 646px; /* 左からの位置 */
    color: #FFF; /* テキストカラー */
    font-family: 'Noto Sans JP'; /* フォントファミリー */
    font-size: 14px; /* フォントサイズ */
    font-style: normal; /* フォントスタイル */
    font-weight: 700; /* フォントウェイト */
    line-height: normal; /* 行の高さ */
    width: 84px; /* 幅 */
    height: 20px; /* 高さ */
}

/* ここに他のスタイルも続く */