.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 10px 20px;
    position: relative;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav li {
    cursor: pointer;
}

/* ボタンのスタイル例 */
.button {
    background-color: #E64646; /* ボタンの背景色 */
    color: white; /* テキストの色 */
    padding: 10px 20px; /* パディング */
    border: none; /* ボーダーを消す */
    border-radius: 5px; /* 角を丸くする */
    cursor: pointer; /* カーソルをポインターに */
}
