/* my-app/src/styles/Layout.module.css */
.layout {
    position: relative; /* 相対位置指定 */
    width: 100%; /* 幅を100%に設定 */
    height: 100vh; /* 高さを100vhに設定 */
    overflow: hidden; /* はみ出した部分を隠す */
}
