@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

.serviceContainer {
    width: 1440px;
    height: 747px;
    background: #F1EAEA;
    position: absolute;
    top: 969px;
    left: 0;
    font-family: 'Noto Sans JP', sans-serif;
    overflow: hidden;
}

.serviceMainTitle {
    position: absolute;
    top: 58px;
    left: 80px;
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 6.4px;
}

.serviceRotatedText {
    position: absolute;
    top: 300px;
    left: -190px;
    transform: rotate(-90deg);
    color: #1F1F1F;
    font-family: 'Jura';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.1;
}

.serviceList {
    display: flex;
    width: 745px;
    align-items: flex-start;
    gap: 80px;
    position: absolute;
    top: 234px;
    left: 347.5px;
}

.serviceSection {
    position: relative;
    width: 155px;
    height: 279px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    margin-right: 33px;
}

.dxTitle {
    position: absolute;
    top: 96px;
    left: 24px;
}

.dxDescription {
    position: absolute;
    left: 24px;
    bottom: 50px;
    width: 195px;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-right: 18px;
}

.automationTitle {
    position: absolute;
    top: 96px;
    left: 24px;
}

.automationDescription {
    position: absolute;
    left: 29px;
    bottom: 32px;
    width: 195px;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-right: 18px;
}

.entertainmentTitle {
    position: absolute;
    top: 96px;
    left: 24px;
    right: 28px;
}

.entertainmentDescription {
    position: absolute;
    left: 29px;
    bottom: 32px;
    width: 195px;
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-right: 18px;
}

.dxIcon {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 63px;
    height: 63px;
    flex-shrink: 0;
}

.automationIcon {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 63px;
    height: 63px;
    flex-shrink: 0;
}

.entertainmentIcon {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 63px;
    height: 63px;
    flex-shrink: 0;
}

