/* ヘッダーのスタイル */
header {
    display: flex; /* 横並び */
    align-items: center; /* 中央揃え */
    justify-content: space-between; /* スペースを均等に */
    padding: 20px; /* パディング */
    background-color: #f8f8f8; /* 背景色 */
}

/* ロゴのスタイル */
.logo {
    position: fixed; /* 固定配置に変更 */
    width: 140px; /* ロゴの幅 */
    height: 28px; /* 高さを28pxに設定 */
    flex-shrink: 0; /* 縮小しないように追加 */
    top: 44px; /* トップの位置を44pxに設定 */
    left: 62px; /* 左の位置を62pxに設定 */
}

/* メニューのスタイル */
.nav {
    display: flex; /* 横並び */
    gap: 30px; /* 各項目の間隔 */
}

.nav a {
    text-decoration: none; /* 下線を消す */
    color: #494949; /* テキストの色 */
    font-weight: bold; /* 太字 */
    padding: 10px; /* パディング */
}

.nav a:hover {
    color: #E64646; /* ホバー時の色 */
}

body {
    margin: 0;
    height: 100vh; /* ビューポートの高さに合わせる */
    overflow: hidden; /* はみ出しを隠す */
}

